body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(to bottom, #f5f5f5, #ddecf6); */
    background-color: #ddecf6;
}